<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SalesForce">

<listeners>
<listener class-name="com.training.listeners.TestListener"></listener>
</listeners>
<test name="home">
<classes>
 <class name="com.training.tests.LoginTest"> </class>
 <class name="com.training.tests.HomeTest"> </class>
  <class name="com.training.tests.CreateAccountTest"> </class>
 <class name="com.training.tests.CreateOpportunitiesTest"> </class>
 <class name="com.training.tests.LeadsTest"> </class>
 
 
</classes>
</test>

</suite>
